version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    networks:
      - apiNetwork
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: ["npm", "run", "dev", "--", "--host", "0.0.0.0"]

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    depends_on:
      db:
        condition: service_healthy  
    command: ["sh", "-c", "sleep 10 && uvicorn main:app --host 0.0.0.0 --port 8000 --reload"]
    networks:
      - apiNetwork
    ports:
      - "8000:8000"
    volumes:
      - ./api:/api

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "5000:5000"
    networks:
      - apiNetwork
    volumes:
      - ./backend:/backend
    command: ["sh", "-c", "sleep 10 && python recuperer.py"]

db:
  image: mysql:8.0
  restart: always
  container_name: mysql_service
  environment:
    MYSQL_ROOT_PASSWORD: root  
    MYSQL_DATABASE: mydatabase
    MYSQL_PASSWORD: mypassword  
    MYSQL_AUTHENTICATION_PLUGIN: mysql_native_password
  ports:
    - "3306:3306"
  volumes:
    - db_data:/var/lib/mysql
    - ./database:/docker-entrypoint-initdb.d  # Mount du dossier contenant le SQL
  networks:
    - apiNetwork
  healthcheck:
    test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
    interval: 10s
    timeout: 5s
    retries: 3

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    container_name: phpmyadmin_service
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    networks:
      - apiNetwork
    ports:
      - "8080:80"

volumes:
  db_data:

networks:
  apiNetwork:
    driver: bridge
